<%= form_for @ai, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :source %><br />
    <%= f.file_field :source %>
  </p>
  <p>
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </p>
  <p><%= f.submit %></p>
<% end %>
