<% title "Ai" %>

<p>
  <strong>Name:</strong>
  <%= @ai.name %>
</p>
<p>
  <strong>File Name:</strong>
  <%= @ai.file_name %>
</p>
<pre class="prettyprint lang-rb"><%= @ai.source %></pre>

<p>
  <%= link_to "Edit", edit_ai_path(@ai) %> |
  <%= link_to "Destroy", @ai, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", ais_path %>
</p>
